body {
    overflow-y: hidden;
}

#workarea.btn {
    padding: 4px 9px;
    font-size: 10px;
}

.btn-primary {
    color: black;
    border: 1px solid whitesmoke;
    margin: 0.5px 0.5px 0.5px 0.5px;
    background-color: white;
}

.btn-primary:hover {
    font-weight: 500;
}

.btn-primary:active {
    -webkit-box-shadow: -1px 3px 45px -1px rgba(0,0,0,0.88);
    -moz-box-shadow: -1px 3px 45px -1px rgba(0,0,0,0.88);
    box-shadow: -1px 3px 45px -1px rgba(0,0,0,0.88);
    z-index: 9999;
}

.navbar-static-top {
    margin-bottom: 19px;
}

#fridge {
    webkit-border-radius: 51px;
    -moz-border-radius: 51px;
    border-radius: 51px;
    background-color: #7db6d5;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom :2rem;
}

#workarea {
    -webkit-border-radius: 51px;
    -moz-border-radius: 51px;
    border-radius: 51px;
    background-color: #929292;

    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom :2rem;
}

#playButton {
    z-index: 9999;
    background-color: green;
    text-shadow: 0 0px;
    color: white;
}

#audiojs_wrapper0, #audiojs_wrapper1 {
    display: none;
}

#header {
    color: #F4F4F4;
    background-color: #0093d1;
}

#footer {
    background-color: #e7a555;
    font-weight: 900;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: 0 0px;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    text-shadow: 0 0px;
}